/* 

Colors: 
- Slate 900: #1f314f
- Slate 500: #68778d
- Slate 300: #d5e1ef
- White: #ffffff

Typography: 
- Outfit
    - Bold, 22px, 120% line height, 0px letter spacing
    - Regular, 140% line height, 0.2px letter spacing

Spacing: 
- 500: 40px
- 300: 24px
- 200: 16px

*/

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body {
    font-family: "Outfit", sans-serif;
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 100svh;
    overflow: hidden;

    background-color: #d5e1ef;
}

img {
    border-radius: 20px;
}

h1 {
    color: #1f314f;
    font-size: 22px;
    line-height: 120%;
    letter-spacing: 0px;
}

p {
    color: #68778d;
    font-size: 15px;
    line-height: 140%;
    letter-spacing: 0.2px;
    margin-top: 0px;
}

.card {
    width: 13vw;
    min-width: 250px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: center;
    
    background-color: white;
    border-radius: 20px;
    padding: 20px;
}

